<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

	<section id="container" layout:fragment="content">
	
		<div th:replace="/common/lnb"></div> 

		<div id="contents">
			<h1>서울시공공서비스예약</h1>
			<table>
				<colgroup>
					<col style="width:500px"/>
					<col style="width:200px"/>
				</colgroup>
				<tbody>
					<tr>
						<td>ID : 
							<input type="text" id="id"  style="text-align:center;width:150px"/>
						</td>
					</tr>
					<tr>
					<tr>
						<td>PASSWORD : 
							<input type="text" id="password"  style="text-align:center;width:150px"/>
						</td>
					</tr>
				</tbody>
			</table>

			<button id="getButton">Get</button>
			<br></br>
			
			방송회차 : <input type="text" id="getBroadSeq"  style="text-align:center;width:50px"/>
			평가자 : <input type="text" id="getApprSeq"  style="text-align:center;width:50px"/>
			<button id="getTotalPoint">getTotalPoint</button>
			<br></br>
			
			방송회차 : <input type="text" id="seqBroadSeq"  style="text-align:center;width:50px"/>
			평가자 : <input type="text" id="setApprSeq"  style="text-align:center;width:50px"/>
			요리사 : <input type="text" id="setCookSeq"  style="text-align:center;width:50px"/>
			항목 : <input type="text" id="setEvalSeq"  style="text-align:center;width:50px"/>
			포인트 : <input type="text" id="point"  style="text-align:center;width:50px"/>
			<button id="setPoint">setPoint</button>
			
			<h1> 브랜치 테스트 </h1>
		</div>
		


	<script th:inline="javascript">

	$('#getButton').click(function() {
		$.ajax({
			url:"http://localhost:8080/reservation/seoul/get",
			data:
				{
					id: $('#id').val(),
					password: $('#password').val()
				},
			success:function(response) {
				alert(response);
			}
		});
	});
	
	$('#getTotalPoint').click(function() {
		getTotalPoint(eval($('#getBroadSeq').val()), eval($('#getApprSeq').val()));	
	})

	$('#setPoint').click(function() {
		setPoint( eval($('#seqBroadSeq').val()), eval($('#setApprSeq').val()), eval($('#setCookSeq').val())
				 ,eval($('#setEvalSeq').val()), eval($('#point').val()) );
	})

		
	</script>
	
	</section>
</html>